<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WH_Rollup_Door_Biometrics.My.MySettings.LF_Warehouse_BioDataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\LF Warehouse BioData.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfwhbiometrics"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="Serialname" value="COM4"/>
	</appSettings>
</configuration>